<div class=" recipecontainer">
  <img src="assets/recipes.jpg">
  <p class="recipe-title">{{recipeHeader}}</p>
  <h3 class="recipe-text">{{recipeText}}</h3>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="card-deck">
      <div class="card">
        <a class="stretched-link" href="/desserts">
          <img class="card-img-top" src="assets/appetizers.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-text">Appetizers</h5>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="stretched-link" href="/desserts">
          <img class="card-img-top" src="assets/meals.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-text">Meals</h5>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="stretched-link" href="/desserts">
          <img class="card-img-top" src="assets/snacks.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-text">Snacks</h5>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="stretched-link" href="/desserts">
          <img class="card-img-top" src="assets/desserts.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-text">Desserts</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
