<div class="row">
  <div class="col-md-6 left">
    <br/>
    <p class="gkhHeader"><b>Gajar Ka Halwa (Carrot Halwa)</b></p>
    <p class="desc">Gajar ka Halwa, also known as carrot halwa or Gajrela is an Indian dessert or sweet which is a winter delicacy. Gajar Halwa is made with juicy red carrots, milk sugar and a lot of dry fruits and nuts.
      The recipe is simple and super easy though it requires a lot of patience because of the slow cooking.
    </p>
    <p class="desc"><b class="descheader">Preperation Time: </b>30 minutes</p>
    <p class="desc"><b class="descheader">Cooking Time: </b>60 minutes</p>
    <p class="desc"><b class="descheader">Ingridients:</b> 1 kg grated carrots, 1 lit Milk, 2 black Cardamom, 5 tbsp Sugar, Almonds, 1 cup Condensed Milk, 2 Tbsp Ghee</p>
    <p class="desc"><b class="descheader">How to cook Gajar ka Halwa:</b></p>
    <ol class="instructions">
      <li>Bring the milk to a slight boil and add carrots. Now reduce the heat to low and allow the carrots to cook and milk is reduced.</li>
      <li>Keep stirring on regular intervals for 30 minutes so it does not burn and stick to the bottom.</li>
      <li>When all the liquid is evaporated and milk is reduced/solidified add sugar and again cook till juices/melted sugar is again reduced.</li>
      <li>At this stage add the condensed milk and cook some more for 5-6 minutes till it is well incorporated into mix.</li>
      <li>Now in a separate deep pan add ghee and heat it, when ghee is hot transfer cooked halwa and cook it for 1 minutes and keep stirring it all the while.</li>
      <li>After the halwa is cooked add mixed dry fruits and nuts of your choice. serve it hot and garnish with almonds for a sweet treat.</li>
    </ol>
  </div>
  <div class="col-md-6 right"><img src="assets/gajarkahalwa.jpg" alt="Card image cap"></div>
</div>