<div class="row dessertsHeaderRow">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p class="dessertsHeader">{{dessertHeader}}</p>
    <p class="dessertText">{{dessertText}}</p>
  </div>
  <div class="col-md-1"></div>
</div>
<br/>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card-deck">
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert1.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Caramel Walnut Cheesecake</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert2.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Chocolate Strawberry Mousse</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert3.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Peanut Butter Cupcakes</h6></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card-deck">
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert4.jpeg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Banana Nutella Cake</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert5.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Blueberry Yogurt Lollie</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert6.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Banana Bread</h6></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card-deck">
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert7.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Chocolate Chip Cookie Bar</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert8.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Dark Chocolate Pudding</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert9.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Besan Barfi</h6></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card-deck">
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert10.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Gajar Ka Halwa (Carrot Halwa)</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert11.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Chocolate Chip Fudge Brownie</h6></div>
          </div>
        </a>
      </div>
      <div class="card dessertitem">
        <a class="stretched-link" href="/dish">
          <div class="row item">
            <div class="col-md-3 left"><img src="assets/dessert12.jpg" alt="Card image cap"></div>
            <div class="col-md-9 right"><h6 class="card-title">Vanilla Nutella Macarons</h6></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>